<div class="accordion-item bg-dark">
    <h2  class="accordion-header" id="panelsStayOpen-headingZ122-{{uuid}}">
        <button class="accordion-button bg-dark text-white " type="button" data-bs-toggle="collapse"
            attr.data-bs-target="#panelsStayOpen-collapseZ122-{{uuid}}" aria-expanded="true"
            attr.aria-controls="panelsStayOpen-collapseZ122-{{uuid}}">
            <h4 *ngIf="!small" class="text-warning  ">{{title}}</h4>
            <h5 *ngIf="small" class="text-warning  ps-3">{{title}}</h5>
        </button>
    </h2>
 
    <div id="panelsStayOpen-collapseZ122-{{uuid}}" class="accordion-collapse collapse show"
    attr.aria-labelledby="panelsStayOpen-headingZ122-{{uuid}}">
        <div class="accordion-body p-0  ">
           <ng-content></ng-content>
        </div>
    </div>
</div>