<div class="card my-2" *ngIf="lnd">
  <!--
  {{lnd.ok}}
  {{lnd.ultimate}}
  {{lnd.foundText}}-->
  <div class="card-body w-100 m-0 p-0 bg-dark">
    <h5 class="card-title d-flex mb-0 pb-0"
      [ngClass]="{'bg-success text-white': lnd.ok && lnd.ultimate , 'bg-warning text-white': (lnd.ok && !lnd.ultimate) || (!lnd.ok && lnd.ultimate && lnd.foundText), 'bg-danger text-white': !lnd.ok && !lnd.foundText}">
      <img class=" p-1 m-1" style="border:1px solid #00aaff" width="64" height="64" *ngIf="lnd.image" [src]="lnd.image"
        alt="Place image title">
      <div class="my-auto" [ngClass]="{'py-2': !lnd.image}">
        <div class="ps-3" *ngIf="lnd.description">{{lnd.description}}</div>
        <div class="ps-3 "> <!--{{lnd.name}}-->
          <span class="my-1 " *ngIf="!lnd.url">{{lnd.name}}</span>
          <span class="my-1 " *ngIf="lnd.url"><a  href="{{lnd.url}}" class="" 
            [ngClass]="{'text-dark': (lnd.ok && lnd.ultimate) || (lnd.ok && !lnd.ultimate) || (!lnd.ok && lnd.ultimate), 'text-white-bd': !lnd.ok && !lnd.ultimate}"  target="_blank">{{lnd.name}}</a></span>
             
            <span class="ps-1" *ngIf="lnd.ok && lnd.ultimate">&#x2713;</span>
          <span class="ps-1" *ngIf="lnd.foundText">({{lnd.foundText}})</span>
 
        </div>
        <div class="ps-3" *ngIf="lnd.ok && !lnd.ultimate">(No ultimate)</div>

      </div>
    </h5>
    <div class="card-text  " style="overflow-x: auto;" *ngIf="checkCompleted()">
      <table class="table table-dark table-bordered">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col" class="my-1 text-center">Stars</th>
            <th scope="col" class="my-1 text-center">Gear</th>
            <th scope="col" class="my-1 text-center">Relic</th>
            <th scope="col" *ngIf="lnd.hasminimumpower">Power</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let unt of lnd.units; index as i" >
            <ng-container *ngIf="checkCompletedItem(unt)">
            <th class="p-0" [ngClass]="{'bg-success': unt.allOK() && unt.hasTheToon(), 'bg-danger':!unt.hasTheToon()}"
              scope="row"><img style="border:1px solid #00aaff" width="32" height="32" *ngIf="unt.image"
                [src]="unt.image" alt="Image from swgoh.gg"></th>
            <td class="py-0"
              [ngClass]="{'bg-success': unt.allOK() && unt.hasTheToon(), 'bg-danger':!unt.hasTheToon(), 'bd-yellow-200': unt.hasTheToon() && !unt.allOK()} ">
              <div class="my-1 " *ngIf="!unt.url">{{unt.name}}</div>
              <div class="my-1 " *ngIf="unt.url"><a  href="{{unt.url}}" class="" [ngClass]="{'link-secondary text-white-bd': (unt.allOK() && unt.hasTheToon()) || !unt.hasTheToon(), 'text-dark-bd':  unt.hasTheToon() && !unt.allOK()}" target="_blank">{{unt.name}}</a></div>
            </td>
            <td class="py-0"
              [ngClass]="{'bg-success': unt.rarityOK || unt.allOK(), 'bg-danger':!unt.hasTheToon(), 'bd-yellow-200': unt.hasTheToon() && !unt.rarityOK}">
              <div class="my-1 text-center">{{unt.stars_on}}/{{unt.stars}}</div>
            </td>
            <td class="py-0"
              [ngClass]="{'bg-success': unt.gearOK || unt.allOK(), 'bg-danger':!unt.hasTheToon(), 'bd-yellow-200': unt.hasTheToon() && !unt.gearOK}">
              <div *ngIf="unt.gear_level" class="my-1 text-center">
                {{unt.gear_level_on}}/{{unt.gear_level}}
              </div>
              <div *ngIf="!unt.gear_level && unt.gear_level_on" class="my-1 text-center">
                {{unt.gear_level_on}}
              </div>
            </td>
            <td class="py-0"
              [ngClass]="{'bg-success': unt.relicOK || unt.allOK(), 'bg-danger':!unt.hasTheToon(), 'bd-yellow-200': unt.hasTheToon() && !unt.relicOK}">
              <div *ngIf="unt.relic_level" class="my-1 text-center">
                {{unt.relic_level_on}}/{{unt.relic_level}}
              </div>
              <div *ngIf="!unt.relic_level && unt.relic_level_on" class="my-1 text-center">
                {{unt.relic_level_on}}
              </div>
            </td>
            <td class="py-0" *ngIf="lnd.hasminimumpower "
              [ngClass]="{'bg-success': unt.minimumpowerok || unt.allOK(), 'bg-danger':!unt.hasTheToon(), 'bd-yellow-200': unt.hasTheToon() && !unt.minimumpowerok}">
              <div *ngIf="!unt.minimumpowerok">
                {{unt.power}}/{{unt.minimum_power_toon}}
              </div>
              <div *ngIf="unt.minimumpowerok  && unt.hasTheToon()">
                &#x2713;

              </div>
            </td>
          </ng-container>
          </tr>
          <tr *ngFor="let unt of lnd.ships; index as i">
            <ng-container *ngIf="checkCompletedItem(unt)">
              <th class="p-0" [ngClass]="{'bg-success': unt.allOK() && unt.hasTheToon(), 'bg-danger':!unt.hasTheToon()}"
              scope="row"><img style="border:1px solid #00aaff" width="32" height="32" *ngIf="unt.image"
                [src]="unt.image" alt="Image from swgoh.gg"></th>
            <td class="py-0"
              [ngClass]="{'bg-success': unt.allOK() && unt.hasTheToon(), 'bg-danger':!unt.hasTheToon(), 'bd-yellow-200': unt.hasTheToon() && !unt.allOK()} ">
              <div class="my-1 " *ngIf="!unt.url">{{unt.name}}</div>
              <div class="my-1 " *ngIf="unt.url"><a  href="{{unt.url}}" class="" [ngClass]="{'link-secondary text-white-bd': (unt.allOK() && unt.hasTheToon()) || !unt.hasTheToon(), 'text-dark-bd':  unt.hasTheToon() && !unt.allOK()}" target="_blank">{{unt.name}}</a></div>
            </td>
            <td class="py-0"
              [ngClass]="{'bg-success': unt.rarityOK || unt.allOK(), 'bg-danger':!unt.hasTheToon(), 'bd-yellow-200': unt.hasTheToon() && !unt.rarityOK}">
              <div class="my-1 text-center">{{unt.stars_on}}/{{unt.stars}}</div>
            </td>
            <td class="py-0"
              [ngClass]="{'bg-success': unt.gearOK || unt.allOK(), 'bg-danger':!unt.hasTheToon(), 'bd-yellow-200': unt.hasTheToon() && !unt.gearOK}">
              <div *ngIf="unt.gear_level" class="my-1 text-center">
                {{unt.gear_level_on}}/{{unt.gear_level}}
              </div>

            </td>
            <td class="py-0"
              [ngClass]="{'bg-success': unt.relicOK || unt.allOK(), 'bg-danger':!unt.hasTheToon(), 'bd-yellow-200': unt.hasTheToon() && !unt.relicOK}">
              <div *ngIf="unt.relic_level" class="my-1 text-center">
                {{unt.relic_level_on}}/{{unt.relic_level}}
              </div>
            </td>
            <td class="py-0" *ngIf="lnd.hasminimumpower "
              [ngClass]="{'bg-success': unt.minimumpowerok || unt.allOK(), 'bg-danger':!unt.hasTheToon(), 'bd-yellow-200': unt.hasTheToon() && !unt.minimumpowerok}">
              <div *ngIf="!unt.minimumpowerok">
                {{unt.power}}/{{unt.minimum_power_ship}}
              </div>
              <div *ngIf="unt.minimumpowerok && unt.hasTheToon()">
                &#x2713;


              </div>
            </td>
          </ng-container>
        </tr>

        </tbody>

      </table>


    </div>
  </div>
</div>