<footer class="d-bloc  justify-content-between align-items-center py-3 mt-4 ">
    <div class="d-block align-items-center text-center mx-auto">
      <span class="mb-3 mb-md-0 text-muted"><a href="https://github.com/Painos80/swgohtool" target="_blank">GitHub project: swgohtool</a></span>
    </div>
    <div class="d-block align-items-center text-center mx-auto my-2">
      <span class="mb-3 mb-md-0 text-muted">Join Feddy on discord<a class="btn btn-primary btn-sm px-2 mx-2" href="https://discord.gg/tErqHJYAxH" target="_blank">Discord</a></span>
    </div>
   
</footer>